name: build

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - shell: sh
        run: |-
          go build -o ./dist/aws-console .
          ./dist/aws-console --version
