name: Build
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - "master"

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build binary
        run: |-
          go build -o ./dist/aws-console .
          ./dist/aws-console --version
