name: Build
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - "master"
    tags:
      - "!*"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Build binary
        run: |-
          go build -o ./dist/aws-console .
          ./dist/aws-console --version
